.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    position: relative;
    position: sticky;
    background-color: var(--bgSoft);
}

.logo{
    font-weight: bold;
}

.text{
    font-size: 20px;
    margin-right: 20px;
}